* {
  margin: 0px;
  padding: 0px;
  font-size: 20px;
}
  
ul{
  list-style: none;
}

a{
  color: black;
  text-decoration: underline;
}

a:hover{
  color: rgb(99, 99, 99);
}

.pagination{
  text-align: center;
  margin: 5% auto;
  display: flex;
  justify-content: center;
}

.page-item{
  padding: 0.75%;
}

.page-item span{
  color: rgb(194, 194, 194);
}

.page-link{
  font-size: 1.5rem;
  color: black;
}

.top-content{
  padding-top: 10%;
}

p{
  margin-bottom: 0;
}

/* main-header,footer */

.navbar{
  position: fixed;
  width: 100%;
  z-index: 100;
}

.navbar-brand{
  background-image: url(/images/logo.png);
  background-repeat: no-repeat;
  background-size:  contain	;
  width: 10%;
  height: 100%;
}

.navbar-brand span {
  visibility: hidden;
} 

.navbar-nav{
  width: 100%;
}

.nav-link{
  text-decoration: none;
}

.dropdown{
  margin-left: auto;
}

.navbar-logo{
  background-image: url(/images/logo.png);
  background-repeat: no-repeat;
  background-size:  contain	;
  width: 7%;
  position: fixed;
  left: 2%;
  margin-top: 2%;
}

.navbar-logo span{
  visibility: hidden;
}

footer{
  display: flex;
  z-index: 100;
  background-color: white;
}

footer a{
  width: 25%;
  height: 360px;
}

.footer-symbol{
  background-image: url(/images/symbol.png);
  background-repeat: no-repeat;
  background-size:  contain;
  margin-left: 2%;
  margin-top: 5%;
}

.footer-symbol span{
  visibility: hidden;
}

.footer-link{
  margin-left: 5%;
  margin-top: 5%;
}

.footer-link li{
  margin-bottom: 10%;
  list-style: none;
}

.footer-link a{
  color: black;
}

.footer-access{
  margin-left: 8%;
  margin-top: 10%;
}

.footer-access h4{
  padding-bottom: 20%; 
}

.tell{
  padding-top: 15%;
}

.footer-logo{
  margin: 12% 4% 0;
}

.footer-logo p{
  margin-top: 25%;
}

@media screen and (max-width: 770px) {

  .footer-link{
    display: none;
  }

  .footer-access{
    margin-left: 10%;
    margin-right: 5%;
  }

}

@media screen and (max-width: 420px) {
  
  footer{
    margin-bottom: 5%;
  }

  .footer-symbol{
    display: none;
  }

}

/* main.top */

.top-image{
  position: relative;
  width: 100%;
}

.top-image-420{
  display: none;
  position: absolute;
}

@media screen and (max-width: 420px) {
  .top-image{
    display: none;
  } 

  .top-image-420{
    position: relative;
    width: 100%;
    display: block;
  }
}

/* top-content */

.top-button{
  position: fixed;
  background-color: rgb(188, 86, 247);
  box-shadow: 2px 2px 4px;
  border-radius: 10px;
  margin-left: 77%;
  margin-top: -820%;
  text-align: center;
  z-index: 40;
  width: 20%;
}

.top-button:hover{
  background-color: rgb(173, 53, 243);
  box-shadow: 0px 0px 0px;
}

.top-button a:hover{
  color: #000;
}

.top-button h2{
  margin: 1%;
  font-size: 1.3vw;
}

.top-button p{
  font-size: 1vw;
  margin: 1px;
}

@media screen and (max-width: 770px) {
  .top-button{
    margin-top: -815%;
  }
}

@media screen and (max-width: 420px) {
  .top-button{
    position: absolute;
    margin-top: -1890%;
    margin-left: 10%;
    width: 80%;
    padding: 5% 0;
  }

.top-button h2{
  font-size: 100%;
}

.top-button p{
  font-size: 100%;
}
}

/* news */
.news-links{
  position: absolute;
  margin-top: -735%;
  width: 100%;
}

.news-link{
  font-size: 1.5vw;
}

.news-links ul li{
  margin-bottom: 3%;
  margin-left: 2%;
}

.news-link-type{
  width: 10%;
  display: inline-block;
  font-size: 1.5vw;
}

.news-links span{
  display: inline-block;
  font-size: 1.5vw;
} 

.news-date{
  display: inline;
}

@media screen and (max-width: 770px) {
  .news-links{
    margin-top: -740%;
  }

  .news-links ul li{
    margin-bottom: 1%;
  }

}

@media screen and (max-width: 420px) {
  .news-links{
    margin-top: -1780%;
  }

  .news-links ul li{
    color: rgb(255, 255, 255);
    text-align: center;
    margin-bottom: 3%;
  }

  .news-link{
    color: white;
    text-align: center;
    font-size: 70%;
  }

  .news-link-type{
    display: block;
    margin: auto;
    width: 50%;
    text-align: center;
    font-size: 100%;
  }
}
/* about */

.instructor-about{
  position: absolute;
  margin-top: -625%;
  margin-left: 50%;
  width: 26%;
}

.instructor-link{
  background-color: white;
  padding: 4% 5%;
  text-align: center;
  border-radius: 5px;
} 

.instructor-link a{
  font-size: 1vw;
}

.lesson-about{
  position: absolute;
  margin-top: -428%;
  margin-left: 50%;  
  width: 35%;
}

.lesson-link{
  background-color: white;
  padding: 4% 4%;
  text-align: center;
  border-radius: 5px;
}

.lesson-link a{
  font-size: 1vw;
}

.online-about{
  position: absolute;
  margin-top: -345%;
  margin-left: 50%;  
  width: 35%;
}

.onlinelesson-link{
  background-color: white;
  padding: 4% 4%;
  text-align: center;
  border-radius: 5px;
}

.onlinelesson-link a{
  font-size: 1vw;
}

@media screen and (max-width: 770px) {
  .instructor-about{
    width: 35%;
  }

  .instructor-link{
    padding: 2.5% 2%;
    font-size: 0.7vw;
  }    
  
  .lesson-about{
    width: 45%;
  }
  
  .lesson-link{
    font-size: 0.6vw;
    padding: 2.5% 2.5%;
  }
  
  .online-about{
  width: 35%;
  }
  
  .onlinelesson-link{
    padding: 2.5% 2%;
    font-size: 0.7vw;
  }
}

@media screen and (max-width: 420px) {
  .instructor-about{
    margin: 0%;
    margin-top: -1507%;
    width: 100%;
  }

  .lesson-about{
    margin: 0%;
    margin-top: -1040%;
    width: 100%;
  }

  .online-about{
    margin: 0%;
    margin-top: -830%;
    width: 100%;
  }
}

/* reserve */

.reserve{
  position: absolute;
  width: 78%;
  margin-top: -320%;
  margin-left: 11%;
}

iframe{
  height: 800px;
}

@media screen and (max-width: 900px) {
  iframe{
    height: 600px;
  } 
}
@media screen and (max-width: 640px) {
  iframe{
    height: 400px;
  }
}

@media screen and (max-width: 420px) {
  .reserve{
    margin-top: -800%;
  }

  iframe{
    height: 600px;
  }
}

/* contact */

.contact-text{
  position: absolute;
  margin-top: -255%;
  margin-left: 36%;
}

.contact-text p{
  margin-bottom: 20%;
  size: 2vw;
}

.contact-text-content{
  width: 230%;
}

.contact-button{
  margin-left: 95%;
}

@media screen and (max-width: 770px) {
  .contact-text{
    margin-top: -255%;
    margin-left: 25%;
  }

  .contact-text p{
    margin-bottom: 10%;
    size: 2vw;
  }

  .contact-text-content{
    width: 200%;
  }

  .contact-button{
    margin-left: 86%;
  }
}

@media screen and (max-width: 420px) {
  .contact-text{
    margin-top: -650%;
    margin-left: 15%;
  }

  .contact-text p{
    margin-bottom: 10%;
    size: 2vw;
  }

  .contact-text-content{
    width: 150%;
  }

  .contact-button{
    margin-left: 63%;
  }
}

/* access */

.access{
  position: absolute;
  margin-top: -180%;
  width: 50%;
}

@media screen and (max-width: 420px) {
  .access{
    position: static;
    margin: 0%;
    width: 100%;
  }
}

/* caution */

.caution{
  position: absolute;
  margin-left: 50%;
  width: 50%;
}

.caution-hidden{
  margin-top: -200%;
  visibility:hidden;
}

.caution a{
  font-size: 1.2vw;
  color: rgb(85, 68, 240);
}

.parking{
  margin-top: 150%;
}

.caution a:hover{
  font-size: 1.2vw;
  color: rgb(137, 126, 236);
}

@media screen and (max-width: 420px) {
  .caution{
    margin-top: -292%;
    margin-left: 30%;
  }

  .caution-hidden{
    margin-top: -700%;
    visibility:hidden;
  }

  .parking{
    margin-top: 700%;
  }
  

  .caution a{
    font-size: 80%;
  }
}

/* main.instructor */

.instructor-image{
  position: relative;
  width: 100%;
}

.instructor-image-420{
  display: none;
  position: absolute;
}

@media screen and (max-width: 420px) {

  .instructor-image{
    display: none;
  }

  .instructor-image-420{
    position: relative;
    display: block;
    width: 100%;
  }
}

/* main.online */

.online-image{
  position: relative;
  width: 100%;
}

.online-image-420{
  display: none;
  position: absolute;
}

.online-text{
  position: absolute;
  margin-top: -50%;
  margin-left: 38%;
}

.online-link{
  font-size: 3vw;
}

@media screen and (max-width: 420px) {

  .online-image{
    display: none;
  }

  .online-image-420{
    position: relative;
    display: block;
    width: 100%;
  }

  .online-text{
    position: absolute;
    margin-top: -90%;
    margin-left: 38%;
  }
}

/* main.lesson */

.lesson-image{
  position: relative;
  width: 100%;
}

.lesson-image-420{
  display: none;
  position: absolute;
}

.lesson-caution{
  position: absolute;
  margin-top: -30%;
  margin-left: 31%;
  font-size: 3vw;
  line-height: 240%;
}


.lesson-caution-link{
  color: red;
  font-size: 3vw;
}

.lesson-caution-link:hover{
  color: rgb(255, 104, 104);
}


@media screen and (max-width: 420px) {

  .lesson-image{
    display: none;
  }

  .lesson-image-420{
    position: relative;
    display: block;
    width: 100%;
  }

  .lesson-caution{
    margin-top: -70%;
  }

  .lesson-caution{
    font-size: 5vw;
  }
}

/* news.index */

.news-index-body{
  background-image: url(/images/news-index-page.png);
}

.news-index{
  text-align: center;
}

.announce{
  line-height: 300%;
}

.instructor-image{
  position: relative;
  width: 100%;
}

.instructor-image-420{
  display: none;
  position: absolute;
}


@media screen and (max-width: 770px) {

  .news-index{
    padding-top: 15%;
  }
}

@media screen and (max-width: 420px) {

  .news-index-body{
    background-image: url(/images/news-index-page-420.png);
  }

  .news-index{
    padding-top: 20%;
  }
}

/* news.show */

.news-show-body{
  background-image: url(/images/news-show-page.png);
}

.news-show{
  width: 80%;
  margin: 0 auto 10%;
}

.news-show h1{
  text-align: center;
}

.news-show h5{
  text-align: right;
}

.news-show p{
  margin: 7.5% 15% 0;
  word-wrap: break-word;
}


@media screen and (max-width: 770px) {

  .news-show{
    padding-top: 15%;
  }

}

@media screen and (max-width: 420px) {

  .news-show-body{
    background-image: url(/images/news-show-page-420.png);
  }

  .news-show{
    padding-top: 25%;
  }

}

.news-delete{
  text-align: right;
}
/* news.create */
.news-create{
  text-align: center;
  padding: 5%;
}

.back-link{
  font-size: 2rem;
}

.input-title{
  margin: 2% auto;
}

.form{
  width: 70%;
}

/* post.index */

.index-questions{
  height: 100%;
  background: rgba(255,255,255,0.85);
}

.qa-back-img{
  background:  url(/images/symbol.png) no-repeat fixed center center;
}

.index-questions-headline{
  text-align: center;
  padding-top: 7%;
}

.index-questions-headline h1{
  font-size: 3rem;
  margin-bottom: 1%;
}

.question{
  width: 70%;
  margin: 2% auto;
}

.question-user{
  font-size: 1.5rem;
}

.question-date{
  text-align: left;
}

.question-title{
  display: inline;
}

.question-body{
  margin: 1% 10%;
}

.question-omi{
  color: blue;
  text-decoration: none;
}

.question-res{
  color: white;
  text-align: right;
}

.question-res-done{
  background-color: red;
  padding: 3px;
}

.question-res-yet{
  background-color: blue;
  padding: 3px;
}

/* post.show */

.show-question{
  text-align: center;
  width: 80%;
  padding-top: 5%;
  padding-bottom: 10%;
  margin: 0 auto;
}

.question-content{
  width: 90%;
  margin: 5% auto;
}

.question-content h1{
  font-size: 1.5rem;
  margin-bottom: 2%;
}

.question-content p{
  word-wrap: break-word;
}

.show-question-delete{
  text-align: right;
}

.comments-body textarea{
  width: 80%;
  margin-top: 5%;
}

.comments-button{
  text-align: right;
  width: 80%;
  margin: 1% auto;
}

.comment{
  margin: 5%;
}

.comment time{
  font-size: 1.2rem;
}

.comment p{
  margin: 2%;
}

/* post.create */

.post-question{
  text-align: center;
}

.post-question h1{
  padding-top: 5%;
  padding-bottom: 5%;
  font-size: 2rem;
}

.post-title input{
  width: 70%;
  margin-bottom: 3%;
  padding: 0.3%;
}

.post-body textarea{
  width: 70%;
  padding: 0.3%;
  margin-bottom: 3%;
}

.post-button a{
  margin-right: 1%;
}

.news-type{
  margin-top: 3%;
}

@media(max-width:770px){
  .navbar-brand{
    width: 15%;
  }
  
}

@media(max-width:420px){
  .navbar-brand{
    width: 18%;
  }
}

/* home */

.home{
  text-align: center;
  padding-top: 10%;
}

.home h2{
  font-size: 2rem;
  margin-bottom: 5%;
}

.home-news{
  padding-left: 10%;
}

.vimeo{
  padding-top: 5%;
}

.home-logout{
  margin: 5% auto;
}