* {
  margin: 0px;
  padding: 0px;
  font-size: 20px;
}
  
ul{
  list-style: none;
}

a{
  color: black;
  text-decoration: underline;
}

a:hover{
  color: rgb(99, 99, 99);
}

.pagination{
  text-align: center;
  margin: 5% auto;
  display: flex;
  justify-content: center;
}

.page-item{
  padding: 0.75%;
}

.page-item span{
  color: rgb(194, 194, 194);
}

.page-link{
  font-size: 1.5rem;
  color: black;
}

.top-content{
  padding-top: 10%;
}

p{
  margin-bottom: 0;
}

/* main-header,footer */

.navbar{
  position: fixed;
  width: 100%;
  z-index: 50;
}

.navbar-brand{
  background-image: url(/images/logo.png);
  background-repeat: no-repeat;
  background-size:  contain	;
  width: 10%;
  height: 100%;
}

.navbar-brand span {
  visibility: hidden;
} 

.navbar-nav{
  width: 100%;
}

.nav-link{
  text-decoration: none;
}

.dropdown{
  margin-left: auto;
}

.navbar-logo{
  background-image: url(/images/logo.png);
  background-repeat: no-repeat;
  background-size:  contain	;
  width: 7%;
  position: fixed;
  left: 2%;
  margin-top: 2%;
}

.navbar-logo span{
  visibility: hidden;
}

.content-flash{
  text-align: center;
  background-color: #9b03c9;
  color: rgb(255, 255, 255);
  position: fixed;
  width: 100%;
  margin-top: 70px;
  z-index: 10;
  font-size: 180%;
}

footer{
  display: flex;
  z-index: 100;
  background-color: white;
}

footer a{
  width: 25%;
  height: 360px;
}

.footer-symbol{
  background-image: url(/images/symbol.png);
  background-repeat: no-repeat;
  background-size:  contain;
  margin-left: 2%;
  margin-top: 5%;
}

.footer-symbol span{
  visibility: hidden;
}

.footer-link{
  margin-left: 5%;
  margin-top: 5%;
}

.footer-link li{
  margin-bottom: 10%;
  list-style: none;
}

.footer-link a{
  color: black;
}

.footer-access{
  margin-left: 8%;
  margin-top: 5%;
}

.footer-access h4{
  padding-bottom: 20%; 
}

.tell{
  padding-top: 15%;
}

.footer-logo{
  margin: 12% 4% 0;
}

.footer-logo p{
  margin-top: 25%;
}

@media screen and (max-width: 991px) {
  .content-flash{
    margin-top: 62.5px;
    font-size: 150%;
  }
}

@media screen and (max-width: 770px) {

  .footer-link{
    display: none;
  }

  .footer-access{
    margin-left: 10%;
    margin-right: 5%;
  }

  .navbar-logo{
    width: 13%;
  }
  

}

@media screen and (max-width: 420px) {
  
  footer{
    padding-bottom: 5%;
  }

  .footer-symbol{
    display: none;
  }

  .navbar-logo{
    height: 50px;
    width: 50px;
    background-image: url(/images/symbol.png);
  }
  
}

/* main.top */

.top-image{
  position: relative;
  width: 100%;
}

.top-image-420{
  display: none;
  position: absolute;
}

@media screen and (max-width: 420px) {
  .top-image{
    display: none;
  } 

  .top-image-420{
    position: relative;
    width: 100%;
    display: block;
  }
}

/* top-content */

.top-button{
  position: fixed;
  display: inline-block;
  background-color: rgb(173, 47, 247);
  border-radius: 4px;
  margin-left: 77%;
  margin-top: -705%;
  text-align: center;
  z-index: 40;
  width: 20%;
  color: rgb(255, 255, 255);
  text-decoration: none;
  border-bottom: 4px solid #680386;
}

.top-button:active{
  transform: translateY(4px);
  border-bottom: none;
}

.top-button:hover{
  color: rgb(255, 255, 255);
  text-decoration: none;
}

.top-button a:hover{
  color: #000;
}

.top-button h2{
  margin: 1%;
  font-size: 1.3vw;
}

.top-button p{
  font-size: 1vw;
  margin: 1px;
}

@media screen and (max-width: 770px) {
  .top-button{
    margin-top: -695%;
  }
}

@media screen and (max-width: 420px) {
  .top-button{
    position: absolute;
    margin-top: -1790%;
    margin-left: 10%;
    width: 80%;
    padding: 5% 0;
    border-bottom: 6px solid #680386;
  }

.top-button h2{
  font-size: 100%;
}

.top-button p{
  font-size: 100%;
}
}

/* news */
.news-links{
  position: absolute;
  margin-top: -620%;
  width: 100%;
}

.news-link{
  font-size: 1.5vw;
}

.news-links ul li{
  margin-bottom: 3%;
  margin-left: 2%;
  width: 50%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.news-links span{
  display: inline-block;
} 

.news-date{
  display: inline;
}

@media screen and (max-width: 770px) {
  .news-links{
    margin-top: -620%;
  }

  .news-links ul li{
    margin-bottom: 1%;
  }

}

@media screen and (max-width: 420px) {
  .news-links{
    margin-top: -1720%;
  }

  .news-links ul li{
    color: rgb(255, 255, 255);
    text-align: center;
    margin-bottom: 3%;
    width: 96%;
  }

  .news-link{
    color: white;
    text-align: center;
    font-size: 70%;
  }

  .news-link-type{
    display: block;
    margin: auto;
    width: 50%;
    text-align: center;
    font-size: 100%;
  }
}

/* about */

.instructor-about{
  position: absolute;
  margin-top: -500%;
  margin-left: 50%;
}

.lesson-about{
  position: absolute;
  margin-top: -410%;
  margin-left: 50%;  
}

.online-about{
  position: absolute;
  margin-top: -295%;
  margin-left: 50%;  
}

.btn {
  display: inline-block;
  text-align: center;
  background-color:  rgb(173, 47, 247);
  font-size: 20px;
  color: #FFF;
  text-decoration: none;
  font-weight: bold;
  padding: 10px 24px;
  border-radius: 4px;
  border-bottom: 4px solid #680386;
}


.btn:active {
    transform: translateY(4px);
    border-bottom: none;
}

.btn:hover {
  color: rgb(255, 255, 255);
  text-decoration: none;
}

@media screen and (max-width: 770px) {
  .btn {
    font-size: 10px;
  }
}

@media screen and (max-width: 420px) {
  .instructor-about{
    margin: 0%;
    margin-top: -1495%;
    margin-left: 17%;
  }

  .lesson-about{
    margin: 0%;
    margin-top: -1020%;
    margin-left: 15%;
  }

  .online-about{
    margin: 0%;
    margin-top: -765%;
    margin-left: 18%;
  }

  .instructor-link a,.lesson-link a,.onlinelesson-link a{
    font-size: 15px;
  }
}

/* reserve */

.reserve{
  position: absolute;
  margin-top: -270%;
  margin-left: 34%;
}

.btn-push {
  display: inline-block;
  width: 470px;
  text-align: center;
  background-color:  rgb(173, 47, 247);
  font-size: 38px;
  color: #FFF;
  text-decoration: none;
  font-weight: bold;
  padding: 10px 24px;
  border-radius: 4px;
  border-bottom: 4px solid #680386;
}


.btn-push:active {
    transform: translateY(4px);
    border-bottom: none;
}

.btn-push:hover {
  color: rgb(255, 255, 255);
  text-decoration: none;
}

@media screen and (max-width: 770px) {
  .reserve{
    margin-left: 20%;
  }
}

@media screen and (max-width: 550px) {

  .btn-push {
    font-size: 24px;
    width: 350px;
  }

  .reserve{
    margin-left: 19%;
  }
}

@media screen and (max-width: 420px) {

  .btn-push {
    font-size: 24px;
    width: 300px;
  }

  .reserve{
    margin-top: -726%;
    margin-left: 12%;
  }
}


/* contact */

.contact{
  position: absolute;
  margin-top: -225%;
  margin-left: 35%;
}

.contact-text p{
  margin-bottom: 20%;
  size: 2vw;
}

.contact-text-content{
  width: 230%;
}

.contact-button{
  margin-left: 95%;
}

@media screen and (max-width: 770px) {
  .contact{
    margin-top: -225%;
    margin-left: 12%;
  }

  .contact-text p{
    margin-bottom: 10%;
    size: 2vw;
  }

  .contact-text-content{
    width: 200%;
  }

  .contact-button{
    margin-left: 86%;
  }
}

@media screen and (max-width: 650px) {
  .contact{
    margin-top: -225%;
    margin-left: 32%;
  }

  .contact-text p{
    margin-bottom: 10%;
    font-size: 50%;
  }

  .contact-text-content{
    width: 150%;
  }

  .contact-button{
    margin-left: 60%;
  }
}

@media screen and (max-width: 420px) {
  .contact{
    margin-top: -620%;
    margin-left: 24%;
  }

  .contact-text p{
    margin-bottom: 10%;
    size: 2vw;
  }

  .contact-text-content{
    width: 150%;
  }

  .contact-button{
    margin-left: 44%;
  }
}

/* access */

.access{
  position: absolute;
  margin-top: -170%;
  width: 50%;
}

iframe{
  height: 700px;
}

@media screen and (max-width: 1000px) {
  iframe{
    height: 600px;
  }
}

@media screen and (max-width: 900px) {
  
  .access{
    margin-top: -160%;
  }

  iframe{
    height: 400px;
  } 
}

@media screen and (max-width: 770px) {
  
  .access{
    margin-top: -152%;
  }

  iframe{
    height: 300px;
  }
}

@media screen and (max-width: 580px) {
  iframe{
    height: 200px;
  }
}

@media screen and (max-width: 420px) {
  .access{
    position: static;
    margin: 0%;
    width: 100%;
  }

  iframe{
    height: 600px;
  }
}


/* caution */

.caution{
  position: absolute;
  margin-left: 50%;
  width: 50%;
}

.caution-hidden{
  margin-top: -200%;
  visibility:hidden;
}

.caution a{
  font-size: 18px;
  color: rgb(85, 68, 240);
}

.parking{
  margin-top: 150%;
}

.caution a:hover{
  color: rgb(137, 126, 236);
}

@media screen and (max-width: 770px) {
  .caution a{
    font-size: 10px;
    color: rgb(85, 68, 240);
  }
}

@media screen and (max-width: 420px) {
  .caution{
    margin-top: -270%;
    margin-left: 30%;
  }

  .caution-hidden{
    margin-top: -700%;
    visibility:hidden;
  }

  .parking{
    margin-top: 600%;
  }
  

  .caution a{
    font-size: 80%;
  }
}

/* main.instructor */

.instructor-image{
  position: relative;
  width: 100%;
}

.instructor-image-420{
  display: none;
  position: absolute;
}

@media screen and (max-width: 420px) {

  .instructor-image{
    display: none;
  }

  .instructor-image-420{
    position: relative;
    display: block;
    width: 100%;
  }
}

/* main.online */

.online-image{
  position: relative;
  width: 100%;
}

.online-image-420{
  display: none;
  position: absolute;
}

.online-text{
  position: absolute;
  margin-top: -13%;
  margin-left: 36%;
}

.online-link{
  font-size: 24px;
  color: #9b03c9;
}

.online-link:hover{
  color: #680386;
}

@media screen and (max-width: 420px) {

  .online-image{
    display: none;
  }

  .online-image-420{
    position: relative;
    display: block;
    width: 100%;
  }

  .online-text{
    position: absolute;
    margin-left: 38%;
  }
  .online-link{
    font-size: 14px;
    color: #9b03c9;
  }
}

/* main.lesson */

.lesson-image{
  position: relative;
  width: 100%;
}

.lesson-image-420{
  display: none;
  position: absolute;
}

.lesson-caution{
  position: absolute;
  margin-top: -30%;
  margin-left: 31%;
  font-size: 3vw;
  line-height: 240%;
}


.lesson-caution-link{
  color: red;
  font-size: 3vw;
}

.lesson-caution-link:hover{
  color: rgb(255, 104, 104);
}


@media screen and (max-width: 420px) {

  .lesson-image{
    display: none;
  }

  .lesson-image-420{
    position: relative;
    display: block;
    width: 100%;
  }

  .lesson-caution{
    margin-top: -74%;
    margin-left: 25%;
  }

  .lesson-caution{
    font-size: 4vw;
  }

  .lesson-caution-link{
    font-size: 4vw;
  }
}

/* news.index */

.news-index-body{
  background-image: url(/images/news-index-page.png);
}

.news-index{
  text-align: center;
  padding-bottom: 10%;
}

.announce{
  line-height: 300%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}


@media screen and (max-width: 770px) {

  .news-index{
    padding-top: 15%;
  }
}

@media screen and (max-width: 420px) {

  .news-index-body{
    background-image: url(/images/news-index-page-420.png);
  }

  .news-index{
    padding-top: 20%;
    text-align: left;
  }

  .news-index h1{
    text-align: center;
  }

  .announce{
    margin: 5% 10%;
  }
}

/* news.show */

.news-show-body{
  background-image: url(/images/news-show-page.png);
}

.news-show{
  width: 80%;
  margin: 0 auto 10%;
}

.news-show h1{
  text-align: center;
}

.news-show h5{
  text-align: right;
}

.news-show p{
  margin: 7.5% 15% 0;
  word-wrap: break-word;
}


@media screen and (max-width: 770px) {

  .news-show{
    padding-top: 15%;
  }

}

@media screen and (max-width: 420px) {

  .news-show-body{
    background-image: url(/images/news-show-page-420.png);
  }

  .news-show{
    padding-top: 25%;
  }


.news-show h1{
font-size: 1.5rem;
}

}

.news-delete{
  text-align: right;
}

/* news.create */

.news-create{
  text-align: center;
  padding: 5%;
}

.back-link{
  font-size: 2rem;
}

.input-title{
  margin: 2% auto;
}

.form{
  width: 70%;
}

.news-cansel{
  margin-right: 10%;
}

/* post.index */

.index-questions{
  height: 100%;
  background: rgba(255,255,255,0.85);
}

.qa-back-img{
  background:  url(/images/symbol.png) no-repeat fixed center center;
}

.index-questions-headline{
  text-align: center;
  padding-top: 7%;
}

.index-questions-headline h1{
  font-size: 3rem;
  margin-bottom: 1%;
}

.question{
  width: 70%;
  margin: 2% auto;
}

.question-user{
  font-size: 1.5rem;
}

.question-date{
  text-align: left;
}

.question-title{
  display: inline;
}

.question-body{
  margin: 1% 10%;
}

.question-omi{
  color: blue;
  text-decoration: none;
}

.question-res{
  color: white;
  text-align: right;
}

.question-res-done{
  background-color: red;
  padding: 3px;
}

.question-res-yet{
  background-color: blue;
  padding: 3px;
}

/* post.show */

.show-question{
  text-align: center;
  width: 80%;
  padding-top: 5%;
  padding-bottom: 10%;
  margin: 0 auto;
}

.question-content{
  width: 90%;
  margin: 5% auto;
}

.question-content h1{
  font-size: 1.5rem;
  margin-bottom: 2%;
}

.question-content p{
  word-wrap: break-word;
}

.show-question-delete{
  text-align: right;
}

.comments-body textarea{
  width: 80%;
  margin-top: 5%;
}

.comments-button{
  text-align: right;
  width: 80%;
  margin: 1% auto;
}

.comment{
  margin: 5%;
}

.comment time{
  font-size: 1.2rem;
}

.comment p{
  margin: 2%;
}

/* post.create */

.post-question{
  text-align: center;
}

.post-question h1{
  padding-top: 5%;
  padding-bottom: 5%;
  font-size: 2rem;
}

.post-title input{
  width: 70%;
  margin-bottom: 3%;
  padding: 0.3%;
}

.post-body textarea{
  width: 70%;
  padding: 0.3%;
  margin-bottom: 3%;
}

.post-button a{
  margin-right: 1%;
}

.news-type{
  margin-top: 3%;
}

@media(max-width:770px){
  .navbar-brand{
    width: 20%;
  }
  
}

@media(max-width:420px){
  .navbar-brand{
    width: 33%;
  }
}

/* home */

.home{
  text-align: center;
  padding-top: 10%;
}

.home h2{
  font-size: 2rem;
  margin-bottom: 5%;
}

.home-news{
  padding-left: 10%;
}

.vimeo{
  padding-top: 5%;
}

.home-logout{
  margin: 5% auto;
}

.home-pay-btn{
  text-align: center;
  padding-top: 5%;
}

.home-pay-title{
  text-align: center;
  padding-top: 20%;
  margin: auto 10%;
  font-size: 1vw;
}

.home-delete{
  margin: 250px 2% 2%;
  text-align: right;
}
.home-delete a{
  color: rgb(165, 165, 165);
}

.agreement,.privacy{
  min-width: 420;
  padding-top: 15%;
  padding-right: 5%;
  padding-left: 5%;
  padding-bottom: 5%;
  background-color: #fbefff;
}

.vimeo-iframe{
  width: 80%;
}

@media(max-width:420px){
  .home h2{
    font-size: 14px;
    margin: 0 15% 0;
  }

  .vimeo-iframe{
    width: 70%;
  }

  .agreement,.privacy{
    padding-top: 30%;
  }
}

.cansel-page{
  margin: 0 10%;
}

.cansel-page section{
  background-color: rgb(255, 255, 255);
}

.cansel-page-title{
  padding-top: 10%;
  text-align: center;
  font-size: 30px;
}

.online-caution{
  text-align: left;
  margin: 0 10% 5%;
}

.online-caution h5{
  color: red;
  margin-bottom: 3%;
}

@media(max-width:420px){
  .online-caution{
    text-align: left;
    margin: 0 15% 5%;
  }

  .online-caution h5{
    font-size: 12px;
  }

  .online-caution p{
    font-size: 9px;
  }
}